boto3
awscli
Flask
Flask-Cors
jenkinsapi
pandas
psycopg2
pymongo
pymssql
python-jenkins
simple-salesforce
SQLAlchemy==1.4.46
more-itertools
pangres
pipelinewise-tap-postgres
pipelinewise-tap-salesforce
urllib3==1.25.4
pycryptodome
PyMySQL
PyYAML
python-dotenv
cryptography==36.0.1
asyncio